* {
  box-sizing: border-box;
}

/* wrapper */
body {
  min-width: 768px;
  background: white;
}

/* calculator area */
.header {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  background: #424242;
}
.header .icon{
  width: 117px;
  height: 117px;
  margin-left: 16.89%;
  background-image: url('../images/BMICLogo.png');
}
.header .input-area{
  width: 250px;
  height: 130px;
  margin-left: 9.47%;
  background: red;
}
.header .output-area{
  width: 120px;
  height: 117px;
  margin-left: 5%;
  background: green;
}

/* record area */
.content {
  width: 100%;
}

/* footer */
.footer {
  height: 90px;
  width: 100%;
  margin: 0 auto;
  background: #FFD366;
  position: fixed;
  bottom: 0;
}


/*** tools ***/
.flex-rlc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
